@import '../../assets/styles/modules/_variables';


.button-default {
  background: $color-primary;
  color: $color-bg;
  border: 0;
  font-size: $font-base;
  line-height: $font-base * 2;
  text-align: center;
  padding: 0 $padding-control;
}

.button-default-radius {
  @extend .button-default;
  border: 1px solid $color-bg;
  border-radius: $font-base * 2;
}